body  {
    background: #D3D3D3 url('images/fond.jpg') repeat-x 0 0;
    padding:30px 0 30px 0;
}

.brk {font-size: 50px;}

div#menu {
	margin-left:10px;
	padding-top:40px;	
}

/* Jawad */
.souris {
cursor:pointer;
font-size:12px;
font-weight:bold;
}

.tab{
font-size : 0.9em;
color : #000 ;
font-family : verdana ;
text-align:justify;
}
/*************/

div#menu a {
    font-family: verdana;
    font-size: 11px;
	text-align: left;
	color: #5F5F5F; 
    text-decoration:none;
}
div#menu a:hover {
	color: #000000; 
}

div#menu td {
    background-image: url('images/m.jpg');
	padding-bottom:5px;
	padding-left:40px;
	height:41px;
}

div#contenu {
    padding-top: 5px;
	padding-left:20px;
	padding-right:20px;
	padding-bottom:30px;
    font-family: verdana;
    font-size: 11px;
}

.lettrine {
    font-family:Tahoma;
    font-size:40px;
    color : #FF9900;
    text-decoration:none;
}

div#bas {
	padding-top:30px;
    font-family: verdana;
    font-size: 10px;
    color : #6B6B6B;
	text-align: center;
}

div#bas a{
    text-align: left;
    text-decoration:none;
    color: #6b6b6b;
}

div#bas a:hover{
	color: #000000; 
	text-decoration: underline overline
}

div#stat table
{
	width : 33%;
	margin : 25px;
}

div#stat th
{
	color: white;
	background-image: url('images/footer.jpg');
}

#statST
{
	font-size : 17px;
	font-style: italic;
	text-align : center;
	background-color : #F4A460;
}

#statTR
{
	font-size : 14px;
	text-align : center;
}




